.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
}

img {
  width: 100%;
}

.column-full {
  width: 100%;
}

.column-one-third {
  width: calc(100% / 3);
}

.column-one-fourth {
  width: calc(100% / 4);
}

.column-two-thirds {
  width: calc(66.66%);
}
