.container {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: white;
}

.light-bulb {
  align-self: center;
  width: 17vw;
  height: 33vh;
  border-radius: 50%;
  background-color: yellow;
  box-shadow: 0 0 21px 6px rgb(204, 198, 198);
}

.dark-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: rgb(41, 40, 40);
}

.dark-bulb {
  align-self: center;
  width: 17vw;
  height: 33vh;
  border-radius: 50%;
  background-color: rgb(105, 104, 104);
  box-shadow: 0 -10px 5px 6px black;
}
