.container {
  display: flex;
  font-family: Karla, sans-serif;
  font-style: normal;
  font-weight: 400;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.full-column {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
  margin-left: 10%;
  margin-right: 10%;
}

.header-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding-left: 20%;
  padding-right: 20%;
}

.inner-column {
  display: flex;
  width: calc(100% / 2);
}

.second-column {
  display: flex;
  width: calc(100% / 2);
  flex-wrap: wrap;
}

img {
  height: 60%;
  margin: 0 auto;
  padding-left: 20%;
}

h1,
h3 {
  font-family: Karla, sans-serif;
  font-style: normal;
  font-weight: 700;
}

.p-column {
  text-align: left;
  padding-right: 20%;
  line-height: 1.5;
}

button {
  font-weight: 700;
  color: #d7655f;
  background-color: white;
  border-color: #d7655f;
  border-width: thin;
}
