/* * {
  box-sizing: border-box;
 }

 body {
  /* margin: 0; */

/* .container { */

/* max-width: 1000px; */

/* } */

.row {
  display: flex;
}

h1,
button {
  font-family: Karla, sans-serif;
  font-style: normal;
  font-weight: 700;
}

p {
  font-family: Karla, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: small;
  line-height: 1.5;
  margin-top: 0.2%;
}

.column-full {
  width: 100%;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}

.column-one-fourth {
  width: calc(100% / 4);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.image {
  height: 60%;
}

h3 {
  padding-right: 50%;
  font-family: Karla, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: small;
  margin-bottom: 3%;
}

.button {
  background-color: white;
  color: #d55e58;
  border-color: #d55e58;
  border-width: thin;
  padding-left: 5.5%;
  padding-right: 5.5%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-top: 5%;
}

/* .test { */

/* display: flex; */

/* flex-direction: column; */

/* align-items: flex-start; */

/* } */

/* .test2 { */

/* } */

.extraClass {
  display: flex;
}
