.container {
  font-family: Avenir, sans-serif;
  font-style: normal;
  font-weight: 500;
}

.row {
  display: flex;
}

.column-full {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.column-one-half {
  display: flex;
  flex-direction: column;
  width: calc(100% / 2);
}

.column-one-third {
  display: flex;
  width: calc(100% / 3);

  /* flex-direction: column; */
}
